body {
  font-size: 36px;
  margin: 0;
  padding: 0;
}
.country-searcher {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 1400px;
}
.input {
  margin: 20px;
  width: 50%;
  height: 50px;
  font-size: 36px;
}

.country-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.country-name {
  font-size: 72px;
}

.country-info {
  display: flex;
  flex-direction: row;
}
.countries-info-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  list-style: none;
  width: 400px;
}
.item-parameter {
  font-weight: bold;
}
.item-value {
}
